In [ ]:
pip install seaborn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

pd.set_option('display.max_columns', None)

In [2]:
df_train = pd.read_csv('tdt05-2021-challenge-1/train.csv')
df_test = pd.read_csv('tdt05-2021-challenge-1/test.csv')

X = df_train.drop(['target', 'id'], axis=1)
y = df_train['target']

X_test = df_test.drop('id', axis=1)

In [3]:
X.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,f16,f17,f18,f19,f20,f21,f22,f23,f24,f25,f26,f27,f28
0,I,AU,134e98eb8,be42001f3,6.8928,B,0.0,R,4.0,PS,1.0,PS,a,0f94eb834,T,I,9.0,0.4,1d2ee04de,3.0,be0264098,3.0,0.0,B,N,51.0,1d2ee04de,m,1.0
1,N,NaN,232792002,3aad93cab,6.8098,A,1.0,G,6.0,DT,10.0,DT,f,5859a8a06,T,N,12.0,0.5,e06abf51f,1.0,71fb03996,3.0,1.0,F,N,10.0,e06abf51f,k,1.0
2,P,JP,64e2a3589,90116a97d,6.7761,A,0.0,R,5.0,vq,0.0,vq,c,7d7c02c57,T,P,5.0,0.2,5d1ac7760,2.0,bf987f83f,3.0,0.0,C,S,16.0,5d1ac7760,c,0.0
3,K,IT,960cdb2ef,dc4ee566b,6.9302,A,0.0,R,5.0,Bx,1.0,Bx,a,165e81a00,F,K,2.0,0.4,b0ab8b134,3.0,d40fcead7,2.0,0.0,D,N,63.0,b0ab8b134,i,1.0
4,H,AU,8377590c9,f09cc205f,7.0238,A,1.0,G,5.0,kB,0.0,kB,d,35309e01b,T,H,8.0,0.6,0764632bc,6.0,NaN,2.0,1.0,A,S,26.0,0764632bc,h,1.0

We can already make some observations of the data;

1. There are some missing values that needs to be handeled
2. There are many columns which can be defined as categories, e.g., column F1.  
3. Some of the columns seems to have hex values, which can be converted to floats. 
4. Columns f9 and f11 looks suspiciously alike, and one of them could maybe be dropped

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f0      48488 non-null  object
 1   f1      48552 non-null  object
 2   f2      48506 non-null  object
 3   f3      48507 non-null  object
 4   f4      48594 non-null  float64
 5   f5      48436 non-null  object
 6   f6      48457 non-null  float64
 7   f7      48457 non-null  object
 8   f8      48522 non-null  float64
 9   f9      48572 non-null  object
 10  f10     48492 non-null  float64
 11  f11     48572 non-null  object
 12  f12     48484 non-null  object
 13  f13     48519 non-null  object
 14  f14     48502 non-null  object
 15  f15     48488 non-null  object
 16  f16     48488 non-null  float64
 17  f17     48545 non-null  float64
 18  f18     48488 non-null  object
 19  f19     48447 non-null  float64
 20  f20     48463 non-null  object
 21  f21     48510 non-null  float64
 22  f22     48497 non-null  float64
 23  f23     48476 non-null  object
 24  f24     48476 non-null  object
 25  f25     48501 non-null  float64
 26  f26     48487 non-null  object
 27  f27     48543 non-null  object
 28  f28     48535 non-null  float64
dtypes: float64(11), object(18)
memory usage: 11.1+ MB

We can see that there are a lot of missing values thoughout the entire dataset.

In [5]:
missing_data = pd.DataFrame({'total_missing': X.isnull().sum(), 'perc_missing': (X.isnull().sum()/50000)*100})
missing_data

     total_missing  perc_missing
f0            1512         3.024
f1            1448         2.896
f2            1494         2.988
f3            1493         2.986
f4            1406         2.812
f5            1564         3.128
f6            1543         3.086
f7            1543         3.086
f8            1478         2.956
f9            1428         2.856
f10           1508         3.016
f11           1428         2.856
f12           1516         3.032
f13           1481         2.962
f14           1498         2.996
f15           1512         3.024
f16           1512         3.024
f17           1455         2.910
f18           1512         3.024
f19           1553         3.106
f20           1537         3.074
f21           1490         2.980
f22           1503         3.006
f23           1524         3.048
f24           1524         3.048
f25           1499         2.998
f26           1513         3.026
f27           1457         2.914
f28           1465         2.930

In [6]:
X.describe()

,f4,f6,f8,f10,f16,f17,f19,f21,f22,f25,f28
count,48594.000000,48457.000000,48522.000000,48492.000000,48488.000000,48545.000000,48447.000000,48510.000000,48497.000000,48501.000000,48535.000000
mean,6.988378,0.536847,4.112032,1.721665,6.362399,0.409113,4.120689,1.947784,0.628328,62.147378,0.537406
std,0.152945,0.656913,1.851792,3.427500,3.455422,0.185697,2.034561,0.852700,0.483257,33.086578,0.498604
min,6.521800,0.000000,1.000000,0.000000,1.000000,0.100000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,6.870225,0.000000,3.000000,0.000000,3.000000,0.200000,2.000000,1.000000,0.000000,32.000000,0.000000
50%,6.987500,0.000000,5.000000,0.000000,6.000000,0.500000,5.000000,2.000000,1.000000,65.000000,1.000000
75%,7.102300,1.000000,6.000000,1.000000,8.000000,0.600000,6.000000,3.000000,1.000000,94.000000,1.000000
max,7.479400,2.000000,6.000000,11.000000,12.000000,0.600000,7.000000,3.000000,1.000000,104.000000,1.000000

There are some interesting facts here;

1.

In [ ]:
numerical_columns = ['f4', 'f6', 'f8', 'f10', 'f16', 'f17', 'f19', 'f21', 'f22', 'f28']
plt.figure(figsize=(18, 18))
X[numerical_columns].boxplot()
plt.title("Numerical variables", fontsize=20)
plt.show()

We see that we have some outliers in some of the columns. Are these mis-typed data? E.g., for feature f10, the outliers are 10 and 11:

In [ ]:
X[X['f10'] == 11]

In [ ]:
X[X['f10'] == 10]

We can see that there are alot of columns with these values, so we'll just leave them as is.

In [ ]:
X[X['f6'] == 0]

In [ ]:
plt.figure(figsize=(18, 18))
pd.DataFrame(X['f25']).boxplot()
plt.title("Numerical variables", fontsize=20)
plt.show()

In [ ]:
import plotly.express as px
fig = px.imshow(X.corr())
fig.show()

In [ ]:
# def plot_dist(col, ax):
#     X[col][X[col].notnull()].value_counts().plot(kind='bar', facecolor='y', ax=ax)
#     ax.set_xlabel('{}'.format(col), fontsize=20)
#     ax.set_title("{} on X".format(col), fontsize= 18)
#     return ax

# f, ax = plt.subplots(29,3, figsize = (22,15))
# f.tight_layout(h_pad=9, w_pad=2, rect=[0, 0.03, 1, 0.93])
# cols = list(X.columns)
# k = 0
# for i in range(29//3):
#     for j in range(3):
#         plot_dist(cols[k], ax[i][j])
#         k += 1
# __ = plt.suptitle("Initial Distributions of features", fontsize= 25)

# X.apply(pd.value_counts).plot(kind='bar', subplots=True)
%matplotlib inline
for col in list(X.columns):
    X[col][X[col].notnull()].value_counts().plot(kind='bar')
    plt.title(col)
    plt.show()

In [ ]:
y.value_counts()

In [7]:
hex_columns = ['f2', 'f3', 'f13', 'f18', 'f20', 'f26']
ordinal_columns = ['f6', 'f8', 'f16', 'f17', 'f19', 'f21', 'f25']
categorical_columns = ['f1', 'f5', 'f7', 'f9', 'f11', 'f24']
numerical_columns = ['f4']
alphabet_columns = ['f0']
ordinal_cat_columns = ['f0', 'f10', 'f12', 'f23', 'f27']
binary_columns = ['f10', 'f28', 'f22', 'f14']
all_columns = ['f' + str(i) for i in range(0, 28)]
removed_cols = []

In [ ]:
def conv_hex(self, df : pd.DataFrame) -> None:
    def conv_hex_map(x):
        try:
            return int(x, 16)
        except ValueError as e:
            return np.nan
        except TypeError as e:
            return np.nan    

    for col in hex_columns:
        if col not in list(df.columns):
            continue
        col_loc = list(df.columns).index(col)
        df[col] = df[col].apply(lambda x: conv_hex_map(x))

def conv_bool(self, df : pd.DataFrame):
    def conv_bool_map(x):
        try:
            if not type(x) == str:
                return x
            if x.lower() == 'f':
                return 0
            elif x.lower() == 't':
                return 1
            return x
        except Exception as e:
            return np.nan
    df['f14'] = df['f14'].apply(lambda x: conv_bool_map(x))

def conv_binary(self, df : pd.DataFrame):
    def binaryToDecimal(binary):
        try:
            binary = int(binary)
        except:
            return np.nan

        binary1 = binary
        decimal, i, n = 0, 0, 0
        while(binary != 0):
            dec = binary % 10
            decimal = decimal + dec * pow(2, i)
            binary = binary//10
            i += 1
        return decimal
    for col in binary_columns:
        if col not in list(df.columns):
            continue
    df[col] = df[col].apply(lambda x: binaryToDecimal(x))

In [ ]:
def remove_duplicate_columns(self, df: pd.DataFrame) -> None:
    for col in self.categorical_columns:
        df[col] = df[col].factorize()[0]

    cols_to_drop = []
    cols = list(df.columns)
    for col in df.columns:
        if col in cols:
            cols.remove(col)
        for col2 in cols:
            if df[col].equals(df[col2]):
                cols_to_drop.append(col2)

    self.removed_cols = list(set(self.removed_cols + cols_to_drop))
    df.drop(columns=cols_to_drop, inplace=True)


def conv_columns(self, df: pd.DataFrame) -> None:
    self.conv_hex(df)
    self.conv_bool(df)
    self.conv_binary(df)


def preprocess(x):
    self.remove_duplicate_columns(df)
    self.remove_duplicates(df)

    self.conv_columns(df)
    # self.fillna(df)
    # self.remove_rows(df)
    self.transform(df, test)

We see that the dataset is heavily unbalanced. Therefore, it might be a good idea to synthetically balance it

In [ ]:
from imblearn.over_sampling import SMOTE

sm = SMOTE(sampling_strategy='minority', random_state=7)

X, y = sm.fit_resample(X, y)
y.value_counts()